In [6]:
import pandas as pd 
from pandas import ExcelWriter
from pandas import ExcelFile 
import numpy as np
import math

In [7]:
first_file_location = 'First purchases.csv'
second_file_location = 'BI-Intern purchases.csv'
first = pd.read_csv(first_file_location)
second = pd.read_csv(second_file_location)

In [24]:
print(first.shape)
first_set = pd.DataFrame(first, columns= ['User First Purchase Month','First Purchase Product Line', 'User ID', "Purchase ID", "Venue ID"])
first_set.drop_duplicates()
first_set.info()


print(second.shape)
second_set = pd.DataFrame(second, columns= ['Purchases Time Delivered','Product line', 'User ID', "Purchase ID", "Venue ID"])
second_set.drop_duplicates()
second_set.info()

(71257, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 71257 entries, 0 to 71256
Data columns (total 5 columns):
User First Purchase Month      71257 non-null object
First Purchase Product Line    71257 non-null object
User ID                        71257 non-null object
Purchase ID                    71257 non-null object
Venue ID                       71257 non-null object
dtypes: object(5)
memory usage: 2.7+ MB
(298714, 5)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 298714 entries, 0 to 298713
Data columns (total 5 columns):
Purchases Time Delivered    298714 non-null object
Product line                298714 non-null object
User ID                     298714 non-null object
Purchase ID                 298714 non-null object
Venue ID                    298714 non-null object
dtypes: object(5)
memory usage: 11.4+ MB

In [25]:
merged_set = second_set.merge(first_set, on=['User ID', 'Purchase ID', 'Venue ID'], how='left')

In [26]:
merged_set.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 298714 entries, 0 to 298713
Data columns (total 7 columns):
Purchases Time Delivered       298714 non-null object
Product line                   298714 non-null object
User ID                        298714 non-null object
Purchase ID                    298714 non-null object
Venue ID                       298714 non-null object
User First Purchase Month      71257 non-null object
First Purchase Product Line    71257 non-null object
dtypes: object(7)
memory usage: 18.2+ MB

In [27]:
merged_set.head()

,Purchases Time Delivered,Product line,User ID,Purchase ID,Venue ID,User First Purchase Month,First Purchase Product Line
0,1.8.2020,Restaurant,55080d6585f6661a3b37f7a5,5f3d81ef6cce0eeb05225f98,5e8b2c8be050b99f26647804,NaN,NaN
1,1.8.2020,Restaurant,55080d6585f6661a3b37f7a5,5f3c11f5a90667e766b04c19,5e8b2c8be050b99f26647804,1.8.2020,Restaurant
2,1.7.2020,Retail store,556202537f84a43ac29ec7cb,5f0aec594c3cbeb4049ea36a,5ec2ab4401f812138e435c89,NaN,NaN
3,1.7.2020,Retail store,556202537f84a43ac29ec7cb,5f184a3c88046da058c5ed1d,5ec2ab4401f812138e435c89,NaN,NaN
4,1.5.2020,Restaurant,57b48aece14f6d64522f8c5f,5ecf98f34d3d68dc996dad7a,5cb4425ae93cce000d20612f,NaN,NaN

In [28]:
def cohertRetentionUnique(df,date, product):
    cohort= df[(df['User First Purchase Month'] == date) & (df['First Purchase Product Line'] == product)]
    list_cohort= cohort['User ID'].unique()
    df_cohort= df[df['User ID'].isin(list_cohort)]
    cohort_data=pd.DataFrame((df_cohort.groupby(['Purchases Time Delivered']).nunique()['User ID']/num_of_users*100).round(2))
    return cohort_data

In [29]:
def cohertPurchaseNumber(df,date, product):
    cohort= df[(df['User First Purchase Month'] == date) & (df['First Purchase Product Line'] == product)]
    list_cohort= cohort['User ID']
    df_cohort= df[df['User ID'].isin(list_cohort)]
    cohort_data=pd.DataFrame((df_cohort.groupby(['Purchases Time Delivered']).nunique()['Purchase ID']))
    return cohort_data

In [78]:
def cohertVenue(df,date, product):
    cohort= df[(df['Purchases Time Delivered'] == date) & (df['Product line'] == product)]
    list_cohort= cohort['Venue ID'].unique()
    df_cohort= df[df['Venue ID'].isin(list_cohort)]
    cohort_data=pd.DataFrame((df_cohort.groupby(['Venue ID']).nunique()['Purchase ID']))
    return cohort_data